

.logo {
  height: 200px;
  width: 160px;
  margin: 150px auto;
  position: relative;
}

#tree {
  border-bottom: 200px solid #009966;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
}

#trunk {
  height: 85px;
  width: 16px;
  background-color: #663300;
  position: absolute;
  left: -7px;
  bottom: -220px;
}

#left-branch {
  background-color: #663300;
  height: 30px;
  width: 6px;
  position: absolute;
  left:-10px;
  top:15px;
  transform: rotate(-50deg);
  -webkit-transform:rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
}

#right-bottom-branch {
  background-color: #663300;
  height:50px;
  width: 6px;
  position: absolute;
  top: 15px; left: 23px;
  transform: rotate(50deg);
  -webkit-transform:rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}

#right-top-branch {
  background-color: #663300;
  height:27px;
  width: 6px;
  position: absolute;
  top: 2px; left: 20px;
  transform: rotate(50deg);
  -webkit-transform:rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}

#circle1 {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  top: 50px; left: 10px;
  border-radius: 50%;
}

#circle2 {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  top: 75px; left: -10px;
  border-radius: 50%;
}

#circle3 {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  top: 85px; left: -30px;
  border-radius: 50%;
}

#circle4 {
  width: 20px;
  height: 20px;
  background: blue;
  position: absolute;
  top: 90px; left: 20px;
  border-radius: 50%;
}

#circle5 {
  width: 20px;
  height: 20px;
  background: blue;
  position: absolute;
  top: 100px; left: -10px;
  border-radius: 50%;
}

/* .triangle {
	width: 0;
	height: 0;
} */
#triangle-down {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 30px solid yellow;
  position:absolute;
  top:-110px; left:-5px;
}

#triangle-up {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid yellow;
  position:absolute;
  top:-120px; left:-5px;
